<form action="{% url 'pesquisas:votar' pergunta.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>{{ pergunta.texto_pergunta }}</h1></legend>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %} {% for opcao in pergunta.opcao_set.all %}
    <input
      type="radio"
      name="opcao"
      id="opcao{{ forloop.counter }}"
      value="{{ opcao.id }}"
    />
    <label for="opcao{{ forloop.counter }}">{{ opcao.texto_opcao }}</label
    ><br />
    {% endfor %}
  </fieldset>
  <input type="submit" value="Votar" />
</form>
